.destination {
    overflow: hidden;
    padding: 0 0 30px 0;
    margin: 0 0 49px 0;

    @media (max-width: 1024px) {
        padding: 0 0 20px 0;
        margin: 0 0 20px 0;
    }

    .container {

        @media (max-width: 1024px) {
            padding: 15px 49px;
        }
    }

    &__link-wrapper {
        display: flex;
        flex-flow: row nowrap;
        margin: 19px 0 33px 0;

        a,
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: right;

            @media (max-width: 1024px) {
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
            }
        }

        a:not(:last-child) {
            margin: 0 10px 0 0;
        }

        p {
            color: #838b8e;
        }

        @media (max-width: 1024px) {
            margin: 0 0 50px 0;
        }
    }

    &__info-block {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__text-block {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 552px;
        margin: 0 10px 0 0;

        @media (max-width: 1024px) {
            justify-content: flex-start;
            padding: 35px 10px 10px 0px;
            width: 59%;
        }
    }

    &__title {
        @include main-title;
        margin: 0 0 20px 0;

        @media (max-width: 1024px) {
            font-weight: 700;
            font-size: 44px;
            line-height: 109%;
            margin: 0 0 16px 0;
        }
    }

    &__description {

        @media (max-width: 1024px) {
            font-weight: 800;
            font-size: 15px;
            line-height: 134%;
            padding: 0 20px 0 0;
            letter-spacing: 0.1px;
        }
    }

    &__map {
        overflow: hidden;
        display: block;
        width: 808px;
        height: auto;
        border-radius: 20px;

        iframe {
            width: 100%;
        }

        @media (max-width: 1024px) {
            width: 52.5%;
            height: 235px;
        }
    }
}
