.feedback {
    overflow: hidden;
    margin: 0 0 20px 0;
    background: #f6f7f8;

    &__wrapper {
        padding: 40px 0 0 0;

        @media (max-width: 1024px) {
            padding: 30px 0 0 0;
        }
    }

    .container {
        width: 1408px;
        background: #EAECEE;
        border-radius: 20px;

        @media (max-width: 1500px) {
            width: 93%;
        }

        @media (max-width: 1024px) {
            width: 90.5%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 117%;
        text-align: center;
        margin: 0 0 48px 0;

        @media (max-width: 1024px) {
            font-weight: 400;
            font-size: 43px;
            line-height: 110%;
            margin: 0 0 39px 0;
        }
    }

    .form {
        
        width: 42.5%;
        margin: 0 auto;
        padding: 0 0 40px 0;

        @media (max-width: 1024px) {
            width: 64.5%;
            padding: 0 0 32px 0;
        }

        &__datd-wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            flex-shrink: 0;
            margin: 0 0 23px 0;

            @media (max-width: 1024px) {
                margin: 0 0 17px 0;
            }
        }

        &__profile-wrapper,
        &__phone-wrapper,
        &__mail-wrapper {
            overflow: hidden;
            border-radius: 12px;
        }

        &__profile-wrapper {
            width: 100%;
            margin: 0 0 24px 0;
        }

        &__phone-wrapper {
            width: 48%;
            margin: 0 10px 0 0;
        }

        &__mail-wrapper {
            width: 48%;
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-shrink: 0;
            width: 202px;
            font-weight: 600;
            font-size: 18px;
            line-height: 133%;
            padding: 16px 10px;
            margin: 0 auto;
            margin-bottom: 16px;
            border: none;
            border-radius: 16px;
            color: $white;
            background-color: $green;

            &:hover {
                
            }

            @media (max-width: 1024px) {
                width: 193px;
                padding: 17px 10px;
                font-size: 16px;
                line-height: 137%;
            }
        }

        &__legacy {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            color: #282828;

            @media (max-width: 1024px) {
                font-size: 12px;
                line-height: 150%;
            }

            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: #282828;
                text-decoration: underline;

                @media (max-width: 1024px) {
                    font-size: 12px;
                    line-height: 150%;
                }
            }
        }
    }
}

@media (max-width: $tablet-width) {
    .feedback {
        margin: 0 0 20px 0;
        background: $white;
    
        &__wrapper {
            padding: 32px 0 0 0;
        }
    
        .container {
            width: 89.8%;
        }
    
        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 110%;
            margin: 0 0 39px 0;
        }
    
        .form {
            width: 90.5%;
            padding: 0 0 32px 0;
    
            &__datd-wrapper {
                margin: 0 0 17px 0;
            }
    
            &__profile-wrapper,
            &__phone-wrapper,
            &__mail-wrapper {
            }
    
            &__profile-wrapper {
                width: 100%;
                margin: 0 0 24px 0;
            }
    
            &__phone-wrapper {
                width: 48%;
                margin: 0 10px 0 0;
            }
    
            &__mail-wrapper {
                width: 48%;
            }
    
            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-shrink: 0;
                width: 202px;
                font-weight: 600;
                font-size: 18px;
                line-height: 133%;
                padding: 16px 10px;
                margin: 0 auto;
                margin-bottom: 16px;
                border: none;
                border-radius: 16px;
                color: $white;
                background-color: $green;
    
                &:hover {
                    
                }
    
                @media (max-width: 1024px) {
                    width: 193px;
                    padding: 17px 10px;
                    font-size: 16px;
                    line-height: 137%;
                }
            }
    
            &__legacy {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                text-align: center;
                color: #282828;
    
                @media (max-width: 1024px) {
                    font-size: 12px;
                    line-height: 150%;
                }
    
                a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 143%;
                    color: #282828;
                    text-decoration: underline;
    
                    @media (max-width: 1024px) {
                        font-size: 12px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .feedback {
        margin: 0 0 20px 0;
    
        &__wrapper {
            padding: 25px 0 0 0;
        }
    
        .container {
            width: 89.8%;
        }
    
        &__title {
            font-size: 32px;
            line-height: 100%;
            margin: 0 0 27px 0;
            padding: 0 10px;
        }
    
        .form {
            width: 86.5%;
            padding: 0 0 23px 0;
    
            &__datd-wrapper {
                margin: 0 0 20px 0;
            }
    
            &__profile-wrapper,
            &__phone-wrapper,
            &__mail-wrapper {
            }
    
            &__profile-wrapper {
                width: 100%;
                margin: 0 0 19px 0;
            }
    
            &__phone-wrapper {
                width: 100%;
                margin: 0 0 20px 0;
            }
    
            &__mail-wrapper {
                width: 100%;
            }
    
            &__button {
                width: 100%;
                padding: 13px 10px;
                margin-bottom: 13px;
            }
    
            &__legacy {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                text-align: center;
                color: #282828;
    
                @media (max-width: 1024px) {
                    font-size: 12px;
                    line-height: 150%;
                }
    
                a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 143%;
                    color: #282828;
                    text-decoration: underline;
    
                    @media (max-width: 1024px) {
                        font-size: 12px;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}