.footer {
    overflow: hidden;
    
    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
    }

    .container {

        padding: 0 10px;

        @media (max-width: 1024px) {
            padding: 30px 48px;
        }
    }

    &__catalog {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 423px;
        padding: 29px 0 60px 0;
        border-bottom: 1px solid #838b8e;

        @media (max-width: 1024px) {
            flex-flow: column nowrap;
            height: 100%;
            padding: 0 0 5px 0;
        }
    }

    &__list-wrapper {
        display: flex;
        flex-flow: column nowrap;
        width: 256px;

        &:not(:last-child) {

            @media (max-width: 1024px) {
                margin: 0 0 33px 0;
            }
        }

        &:nth-child(1) {

            .footer__list {
                margin: 0 0 22px 0;

                @media (max-width: 1024px) {
                    margin: 0 0 5px 0;
                }
            }
        }

        &:nth-child(2) {
            width: 542px;
            
            @media (max-width: 1024px) {
                margin: 0 0 26px 0;
            }

            .footer__list {
                justify-content: space-between;
                align-items: flex-start;
                flex-flow: row wrap;

                @media (max-width: 1024px) {
                    justify-content: flex-start;
                }
            }

            .footer__list-item {
                width: 47%;

                @media (max-width: 1024px) {
                    width: 30%;
                }
            }

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        &:nth-child(3) {
            
            @media (max-width: 1024px) {
                margin: 0 0 26px 0;
            }
        }

        &:nth-child(4) {

            @media (max-width: 1024px) {
                flex-flow: row nowrap;
                gap: 0 65px;
            }
        }

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    &__dest-wrapper,
    &__contacts,
    &__links-wrapper {

        @media (max-width: 1024px) {
            width: 27%;
        }
    }

    &__list-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        margin: 0 0 20px 0;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 20px 0;
        }
    }

    &__list {
        display: flex;
        flex-flow: column wrap;

        @media (max-width: 1024px) {
            gap: 2px 38px;
        }

        &:nth-child(2) {
            height: auto;

            @media (max-width: 1024px) {
                flex-flow: row wrap;
            }
        }

        @media (max-width: 1024px) {
            flex-flow: row wrap;
        }
    }

    &__list-item {

        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;

            @media (max-width: 1024px) {
                font-size: 12px;
                line-height: 150%;
            }
        }

        @media (max-width: 1024px) {
            display: flex;
            width: 30%;
        }
    }

    &__list-item:not(:last-child) {
        margin: 0 0 16px 0;
    }

    &__show-more-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 137%;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 143%;
        }
    }

    &__dest {
        display: flex;
        flex-flow: row nowrap;
    }

    &__dest-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        margin: 0 0 19px 0;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 15px 0;
        }
    }

    &__contacts-list {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 0 32px 0;

        @media (max-width: 1024px) {
            margin: 0 0 23px 0;
        }
    }

    &__contacts-item {
        display: flex;
        flex-flow: row nowrap;

        &:nth-child(1) {

            a {
                font-size: 18px;

                @media (max-width: 1024px) {
                    font-size: 16px;
                    line-height: 137%;
                }
            }
        }

        &:nth-child(2),
        &:nth-child(3) {

            .footer__contacts-icon {
                margin: 0 8px 0 0;

                @media (max-width: 1024px) {
                    margin: 0 2px 0 0;
                }
            }

            a {

                @media (max-width: 1024px) {
                    font-size: 14px;
                    line-height: 143%;
                }
            }
        }

        &:not(:last-child) {
            margin: 0 0 15px 0;

            @media (max-width: 1024px) {
                margin: 0 0 8px 0;
            }
        }
    }

    &__contacts-icon {
        @include image-wrapper;
        width: 24px;
        height: 24px;
        margin: 0 5px 0 0;

        a {
            font-weight: 600;
            font-size: 16px;
            line-height: 137%;
        }
    }

    &__links-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        margin: 0 0 16px 0;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 15px 0;
        }
    }

    &__links-list {
        display: flex;
        flex-flow: row nowrap;
    }

    &__link:not(:last-child) {
        margin: 0 13px 0 0;
    }

    &__dest {
        display: inline-flex;
        margin: 0 0 29px 0;
    }

    &__dest-image {
        @include image-wrapper;
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;

        @media (max-width: 1024px) {
            width: 20px;
            height: 20px;
            margin: 0 6px 0 0;
        }
    }

    &__dest-city {

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 143%;
        }
    }

    &__contacts-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        margin: 0 0 15px 0;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 16px 0;
        }
    }

    &__legacy-and-rating {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 32px 0 0 0;

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
        }
    }

    &__legacy-text {
        width: 800px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        margin: 24px 0 0 0;

        @media (max-width: 1024px) {
            width: 60%;
        }
    }

    &__rating-wrapper {
        width: 256px;

        span {
            font-weight: 600;
            font-size: 28px;
            line-height: 143%;
            margin: 0 10px 0 0;
        }
    }

    &__rating {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 4px 0;
    }

    &__rating-icon {
        @include image-wrapper;
        margin: 0 8px 0 0;
    }

    &__rating-value {
        display: inline-flex;
        margin: 1px 0 0 0;
    }

    &__rating-stars {
        display: flex;
        flex-flow: row nowrap;

        &:not(:last-child) {
            margin: 0 4px 0 0;
        }
    }

    &__agreement {
        width: 100%;
        margin: 32px 0 0 0;

        a {
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
            color: $black;
        }
    }

    &__mobile-footer {
        display: none;
    }
}

@media (max-width: $tablet-width) {
    .footer {
        
        &__wrapper {
            display: flex;
            flex-flow: column nowrap;
        }
    
        .container {
            padding: 22px 40px;
        }
    
        &__catalog {
            flex-flow: column nowrap;
            height: 100%;
            padding: 0 0 5px 0;
        }
    
        &__list-wrapper {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
    
            &:not(:last-child) {
                margin: 0 0 33px 0;
            }
    
            &:nth-child(1) {
    
                .footer__list {
                    margin: 0 0 5px 0;
                }
            }
    
            &:nth-child(2) {
                width: 100%;
                margin: 0 0 7px 0;

                .footer__list-title {
                    margin: 0 0 26px 0;
                }
    
                .footer__list {
                    justify-content: flex-start;
                }
    
                .footer__list-item {
                    width: 29%;
                }

                .footer__list-item:not(:last-child) {
                    margin: 0 0 16px 0;
                }
            }
    
            &:nth-child(3) {
                margin: 0 0 26px 0;

                .footer__list-item:not(:last-child) {
                    margin: 0 0 16px 0;
                }
            }
    
            &:nth-child(4) {
                flex-flow: row nowrap;
                gap: 0 50px;
            }
        }
    
        &__dest-wrapper,
        &__contacts,
        &__links-wrapper {
            width: 27%;
        }
    
        &__list-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 20px 0;
        }
    
        &__list {
            display: flex;
            flex-flow: row wrap;
            gap: 2px 38px;
    
            &:nth-child(2) {
                height: auto;
                flex-flow: row wrap;
            }
        }
    
        &__list-item {
            display: flex;
            width: 28.8%;
    
            a {
                font-size: 12px;
                line-height: 150%;
            }
        }
    
        &__list-item:not(:last-child) {
            margin: 0 0 14px 0;
        }
    
        &__show-more-link {
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
        }
    
        &__dest {
            display: flex;
            flex-flow: row nowrap;
        }
    
        &__dest-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 15px 0;
        }
    
        &__contacts-list {
            margin: 0 0 23px 0;
        }
    
        &__contacts-item {
            display: flex;
            flex-flow: row nowrap;
    
            &:nth-child(1) {
    
                a {
                    font-size: 16px;
                    line-height: 137%;
                }
            }
    
            &:nth-child(2),
            &:nth-child(3) {
    
                .footer__contacts-icon {
                    margin: 0 2px 0 0;
                }
    
                a {
                    font-size: 14px;
                    line-height: 143%;
                }
            }
    
            &:not(:last-child) {
                margin: 0 0 8px 0;
            }
        }
    
        &__contacts-icon {
            @include image-wrapper;
            width: 24px;
            height: 24px;
            margin: 0 5px 0 0;
    
            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 137%;
            }
        }
    
        &__links-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 15px 0;
        }
    
        &__links-list {
            display: flex;
            flex-flow: row nowrap;
        }
    
        &__link:not(:last-child) {
            margin: 0 13px 0 0;
        }
    
        &__dest {
            display: inline-flex;
            margin: 0 0 29px 0;
        }
    
        &__dest-image {
            @include image-wrapper;
            width: 20px;
            height: 20px;
            margin: 0 6px 0 0;
        }
    
        &__dest-city {
            font-size: 14px;
            line-height: 143%;
        }
    
        &__contacts-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 16px 0;
        }
    
        &__legacy-and-rating {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0;
    
            p {
                font-size: 12px;
                line-height: 150%;
            }
        }
    
        &__legacy-text {
            width: 58%;
            margin: 24px 0 0 0;
        }
    
        &__rating-wrapper {
            padding: 27px 0 0 0;
    
            span {
                font-size: 24px;
                line-height: 117%;
                margin: 0 10px 0 0;
            }
        }
    
        &__rating {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 4px 0;
        }
    
        &__rating-icon {
            @include image-wrapper;
            margin: 0 8px 0 0;
        }
    
        &__rating-value {
            display: inline-flex;
            margin: 1px 0 0 0;
        }
    
        &__rating-stars {
            display: flex;
            flex-flow: row nowrap;
    
            &:not(:last-child) {
                margin: 0 4px 0 0;
            }
        }
    
        &__agreement {
            width: 100%;
            font-size: 12px;
            line-height: 150%;
            margin: 25px 0 0 0;
    
            a {
                font-size: 12px;
                line-height: 150%;
            }
        }

        &__mobile-footer {
            display: none;
        }
    }
}

@media (max-width: $mobile-width) {
    .footer {
        
        &__wrapper {
            display: flex;
            flex-flow: column nowrap;
        }
    
        .container {
            padding: 22px 20px;
        }
    
        &__catalog {
            flex-flow: column nowrap;
            height: 100%;
            padding: 0 0 5px 0;
        }
    
        &__list-wrapper {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
    
            &:not(:last-child) {
                margin: 0 0 33px 0;
            }
    
            &:nth-child(1) {
    
                .footer__list {
                    display: none;
                }
            }
    
            &:nth-child(2) {
                width: 100%;
                margin: 0 0 7px 0;

                .footer__list-title {
                    margin: 0 0 26px 0;
                }
    
                .footer__list {
                    justify-content: flex-start;
                }
    
                .footer__list-item {
                    width: 29%;
                }

                .footer__list-item:not(:last-child) {
                    margin: 0 0 16px 0;
                }
            }
    
            &:nth-child(3) {
                margin: 0 0 26px 0;

                .footer__list-item:not(:last-child) {
                    margin: 0 0 16px 0;
                }
            }
    
            &:nth-child(4) {
                flex-flow: row nowrap;
                gap: 0 50px;
            }
        }

        &__mobile-footer {
            display: flex;
            flex-flow: column nowrap;
        }
    
        &__dest-wrapper,
        &__contacts,
        &__links-wrapper {
            width: 27%;
        }
    
        &__list-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 20px 0;
        }
    
        &__list {
            display: flex;
            flex-flow: row wrap;
            gap: 2px 38px;
    
            &:nth-child(2) {
                height: auto;
                flex-flow: row wrap;
            }
        }
    
        &__list-item {
            display: flex;
            width: 28.8%;
    
            a {
                font-size: 12px;
                line-height: 150%;
            }
        }
    
        &__list-item:not(:last-child) {
            margin: 0 0 14px 0;
        }
    
        &__show-more-link {
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
        }
    
        &__dest {
            display: flex;
            flex-flow: row nowrap;
        }
    
        &__dest-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 15px 0;
        }
    
        &__contacts-list {
            margin: 0 0 23px 0;
        }
    
        &__contacts-item {
            display: flex;
            flex-flow: row nowrap;
    
            &:nth-child(1) {
    
                a {
                    font-size: 16px;
                    line-height: 137%;
                }
            }
    
            &:nth-child(2),
            &:nth-child(3) {
    
                .footer__contacts-icon {
                    margin: 0 2px 0 0;
                }
    
                a {
                    font-size: 14px;
                    line-height: 143%;
                }
            }
    
            &:not(:last-child) {
                margin: 0 0 8px 0;
            }
        }
    
        &__contacts-icon {
            @include image-wrapper;
            width: 24px;
            height: 24px;
            margin: 0 5px 0 0;
    
            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 137%;
            }
        }
    
        &__links-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 15px 0;
        }
    
        &__links-list {
            display: flex;
            flex-flow: row nowrap;
        }
    
        &__link:not(:last-child) {
            margin: 0 13px 0 0;
        }
    
        &__dest {
            display: inline-flex;
            margin: 0 0 29px 0;
        }
    
        &__dest-image {
            @include image-wrapper;
            width: 20px;
            height: 20px;
            margin: 0 6px 0 0;
        }
    
        &__dest-city {
            font-size: 14px;
            line-height: 143%;
        }
    
        &__contacts-title {
            font-size: 18px;
            line-height: 133%;
            margin: 0 0 16px 0;
        }
    
        &__legacy-and-rating {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0;
    
            p {
                font-size: 12px;
                line-height: 150%;
            }
        }
    
        &__legacy-text {
            width: 58%;
            margin: 24px 0 0 0;
        }
    
        &__rating-wrapper {
            padding: 27px 0 0 0;
    
            span {
                font-size: 24px;
                line-height: 117%;
                margin: 0 10px 0 0;
            }
        }
    
        &__rating {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 4px 0;
        }
    
        &__rating-icon {
            @include image-wrapper;
            margin: 0 8px 0 0;
        }
    
        &__rating-value {
            display: inline-flex;
            margin: 1px 0 0 0;
        }
    
        &__rating-stars {
            display: flex;
            flex-flow: row nowrap;
    
            &:not(:last-child) {
                margin: 0 4px 0 0;
            }
        }
    
        &__agreement {
            width: 100%;
            font-size: 12px;
            line-height: 150%;
            margin: 25px 0 0 0;
    
            a {
                font-size: 12px;
                line-height: 150%;
            }
        }
    }
}