.header {
    overflow: hidden;
    top: 0;
    width: 100%;

    &__wrapper {
        padding: 26px 10px;

        @media (max-width: 1024px) {
            padding: 14px 48px;
        }
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1024px) {

        }
    }

    &__logo {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 245px;
        margin: 0 10px 0 0;

        svg {
            width: 167px;
            margin: 0 10px 0 0;
            flex-shrink: 0;

            @media (max-width: 1024px) {
                width: 67%;
                height: 100%;
            }
        }

        @media (max-width: 1024px) {
            width: 200px;
        }
    }

    &__logo-description {
        position: relative;
        padding: 0 0 0 10px;
        font-weight: 400;
        line-height: 110%;

        &::before {
            position: absolute;
            display: block;
            top: 5px;
            left: 0px;
            content: "";
            width: 1px;
            height: 80%;
            background-color: $green;
        }

        @media (max-width: 1024px) {
            font-size: 12px;
        }
    }

    &__navigation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 68%;

        @media (max-width: 1024px) {
            width: 69.5%;
        }
    }

    &__navigation-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0 10px 0 0;
        gap: 0 32px;

        @media (max-width: 1024px) {
            width: 42%;
            gap: 0 8px;
            padding: 5px 0 0 0;
        }
    }

    &__navigation-item {
        a {
            display: block;
            height: 100%;
            padding: 15px 5px;

            @media (max-width: 1024px) {
                font-size: 12px;
                line-height: 150%;
                color: #282828;
            }
        }
    }

    &__navigation-contacts {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 5px 0 0 0;
        margin: 0 7px 0 0;

        @media (max-width: 1024px) {
            padding: 7px 0 0;
        }
    }

    &__navigation-contact-link:not(:last-child) {
        margin: 0 33px 0 0;

        @media (max-width: 1024px) {
            margin: 0 19px 0 0;
        }
    }

    &__navigation-contact-link:first-child {
        margin: 0 24px 0 0;

        @media (max-width: 1024px) {
            margin: 0 11px 0 0;
        }
    }

    &__navigation-contact-link {
        position: relative;

        a {
            display: block;
            height: 100%;
            padding: 15px 5px 10px 5px;

            &:hover {
                svg {
                    transition: 0.3s ease-in-out;
                    path {
                        fill: $blue;
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            @media (max-width: 1024px) {
                font-size: 12px;
                line-height: 150%;
            }
        }
    }

    .burger-btn {
        display: none;
    }

    .pop-up {
        display: none;
    }
}

@media (max-width: $tablet-width) {
}
