@font-face {
    font-family: "ProximaNova";
    src: local("ProximaNova-Bold"),
        url("../fonts/bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova";
    src: local("ProximaNova-SemiBold"),
        url("../fonts/semibold.woff") format("woff");
    font-weight: 600;
    font-style: semibold;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova";
    src: local("ProximaNova-Regular"),
        url("../fonts/regular.woff") format("woff");
    font-weight: 400;
    font-style: regular;
    font-display: swap;
}
